<h3> Listado de Heroes </h3>
<div *ngIf="deletedHero !== undefined ; else nothingWasDeleted">
  <h5>
    Herroe borrado :
    <small class="text-danger"> {{deletedHero}}</small>
  </h5>
</div>



<ng-template #nothingWasDeleted>
  <h5>
    No ha borrado nada
  </h5>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()" class="btn btn-outline-danger">
  borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">
    {{name}}
  </li>
</ul>
